


.titulo2.text-center.p-5{
  font-family: 'Montserrat';
}

.card-body{
    font-family: 'Montserrat';
}
.card-header{
  padding: 0px !important;
}

.btn.btn-link.collapsed{

  font-family: 'Montserrat';
  text-decoration: none;
  color: white;
  background-color: black;

}
.mb-0{
  color: white;
  background-color: black;
}

.text-center.header{
  font-family: 'Montserrat';
}
