/*COMMON--------------------*/
body {
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bolder;
}

.container-fluid {
  padding: 0px !important;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*HEADER---------------------*/
.common-header .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.common-header .navbar-user ul {
  flex-direction: row;
  justify-content: flex-end;
}


/*WELCOME-----------------------*/
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/bg-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.welcome h1, h5 {
  color: white;
}

/*ABOUT-----------------------*/
.about-us, .about-us div p {
  color: black;
}

/*FOOTER---------------------*/
footer .contact {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: white;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
}

footer .contact h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .contact ion-icon {
  font-size: 32px;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: white;
}

footer p {
  margin: 0px;
  text-align: center;
}

footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
}

/*PRODUCTOS DESTACADOS------------------*/
.productos-destacados button {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*PRODUCTS------------------*/
.section-products {
  margin-bottom: 20px;
}

.products-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.filters {
  text-decoration: none;
  list-style-type: none;
}

.section-products .card {
  margin-bottom: 15px;
}

.section-products button {
  margin-bottom: 15px;
}

.section-products a {
  text-decoration: none;
  color: white;
}
